

.flightsearchresult{
    border: solid;
    border-radius: 20px;
    padding: 5px;
    border-color: brown;
    width:280px;
    margin-bottom: 50px;
}
.flight{
    height:800px;
   
    
}
.flight h1{
    color: #ef8338;
    text-align: center;
    margin-Top:120px;
}
.avions{
    margin-Left: 980px;
     margin-Top: -80px ;
     width:150px;

}
.delete{
    margin-left: 30px;
    border-radius: 10px;
}
.book{
    margin-right: 30px;
    margin-left: 120px;
    border-radius: 10px;
}
.span{
    color: brown;
}
.flight img{
    position: absolute;
    top: 210px;
    left: -500px;
    width:350px;
    height: 180px;
    transform: rotateX('30deg');
}
.Flights{
    border-Color: #1e7fc0;
    margin-Left:310px;
    border: solid;
    border-Radius: 15px;
    padding: 10px;
    width: 700px;
    height: 250px;
    margin-Top: 100px;
    margin-Bottom: 70px; 
}

  .Date{
    display: flex;
    justify-Content: space-between;
    margin-Bottom: 20px;
  }
  .Flights button{
  border-Radius: 20px;
  padding: 3px;
  margin-Top: 20px;
  margin-Left: 300px;
  margin-Bottom: 20px; 
  text-align: center;
}
.flight label{
    color:#ef8338; 

}
.add-flight-section{

    margin-top: 50px;
    border-color: #e28743;
    border: solid;
    border-radius: 15px;
    padding: 10px;
    width:694px;
    margin-left: -10px;

}
.add-flight-section h1{
    color:#ef8338;
    margin-Top:-10px;
}
